body {
    background-color: #000;
    color: rgb(60, 216, 39);
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    h1, li, p{
        //This code is for the screen effect for the letters
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: url('../img/linearText.png');
    }
    .d-none{
        display:none;
    }
    section{
        margin-top: 10px;
    }
    #navContain{
        width: 70%;
        height: 500px;
    }
    #screen{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .divTrame{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/linearBackground.png');
    }
}
