header{
    h1{
        font-family: 'Caveat', cursive;
        font-size: 70px;
        text-align: center;
        margin: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

nav#firstNav{
    width: 100%;
    display:flex;
    justify-content: center;
    position: relative;
    .greenLineNav{
        width: 100%;
        height: 5px;
        border-left: 1px solid rgb(60, 216, 39);
        border-right: 1px solid rgb(60, 216, 39);
        position:absolute;
        bottom: -4px;
    }
    ul{
        padding:0;
        margin-bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-bottom: 1px solid rgb(60, 216, 39);

        li{
            list-style: none;
            padding: 2px 5px;
            font-weight: bold;
            position: relative;
            p{
                position:relative;
                margin:0;
                z-index:5;
                background-color: #000;
            }
            .blackLineHover{
                width: 100%;
                height: 3px;
                position: absolute;
                left:0;
                background-color: #000;
                bottom:-3px;
                z-index: 20;
                display:none;
            }
            .greenLineHover{
                position: absolute;
                top:0;
                left: -1px;
                border-bottom: 1px solid rgb(60, 216, 39);
                height: 35%;
                background-color: #000;
                z-index:2;
                display:none;
            }
            .blackBG{
                background-color: #000;
                position:absolute;
                z-index:4;
                left:7.5%;
                top:10%;
                width: 85%;
                height: 35%;
            }
            &:hover{
                cursor: pointer;
            }
            &.active{
                border-left: 1px solid rgb(60, 216, 39);
                border-right: 1px solid rgb(60, 216, 39);
                .blackLineHover{
                    display:block;
                }
                .greenLineHover{
                    display:block;
                }
            }
        }
    }
}