.secondNav{
    display:flex;
    flex-direction: row;
    justify-content: start;
    ul{
    display:flex;
    flex-direction: row;
    margin: 0;
        li{
            list-style: none;
            margin: 0 5px;
            opacity: 0.5;
            &.activeNav{
                opacity:1;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}