#stat {
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    .vaultBoy {
        margin: 5px;
        position: relative;
        img {
            width: 150px;
        }
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .column {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .progressBar {
        position: relative;
        width: 40px;
        height: 10px;
        border: 1px solid rgb(60, 216, 39);
        border-radius: 0;
        background-color: #000;
    }
    progress[value]::-webkit-progress-bar {
        background-color: #000;
    }
    progress[value]::-webkit-progress-value {
        background-color: rgb(60, 216, 39);
    }
    .generalStats {
        margin: 20px auto;
        height: 60px;
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .statWeapon,
        .statArmor {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0 5px;
        }
        .statBox {
            height: 60px;
            width: 40px;
            background-color: rgb(2, 61, 2);
            background-image: url("../img/linearBackground.png");
            margin: 0 1px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            font-size: 25px;
            &.large {
                width: 60px;
            }
            .statIcone {
                width: 65%;
                height: auto;
                margin-top: 2px;
            }
            margin: 2px;
        }
    }
    .statHeal {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        .statStimpak,
        .statRadaway {
            color: rgb(3, 53, 3);
            padding: 5px;
            margin: 5px;
            background-color: rgb(36, 177, 36);
            background-image: url("../img/linearBackground.png");
            font-size: 20px;
        }
    }
    .statPlayer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .playerHP,
        .playerLevel,
        .playerActionPoint {
            font-size: 20px;
            margin: 0 1px;
            padding: 1%;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgb(2, 61, 2);
            background-image: url("../img/linearBackground.png");
        }
        .playerLevel{
            width: 50%;
            justify-content: center;
            label{
                margin-right: 5px;
            } 
        }
        .playerActionPoint{
            width: 23%;
            justify-content: flex-end;
        }
        .playerHP{
            width: 23%;
            justify-content: flex-start;
        }
        progress {
            position: relative;
            width: 70%;
            height: 10px;
            border: 1px solid rgb(60, 216, 39);
            border-radius: 0;
            background-color: rgba(2, 61, 2, 0);
        }
        progress[value]::-webkit-progress-bar {
            background-color: rgba(2, 61, 2, 0);
        }
        progress[value]::-webkit-progress-value {
            background-color: rgb(60, 216, 39);
        }
    }
}
