body {
  background-color: #000;
  color: #3cd827;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
body h1, body li, body p {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../img/linearText.png");
}
body .d-none {
  display: none;
}
body section {
  margin-top: 10px;
}
body #navContain {
  width: 70%;
  height: 500px;
}
body #screen {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
body .divTrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-image: url("../img/linearBackground.png");
}

header h1 {
  font-family: "Caveat", cursive;
  font-size: 70px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav#firstNav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
nav#firstNav .greenLineNav {
  width: 100%;
  height: 5px;
  border-left: 1px solid #3cd827;
  border-right: 1px solid #3cd827;
  position: absolute;
  bottom: -4px;
}
nav#firstNav ul {
  padding: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid #3cd827;
}
nav#firstNav ul li {
  list-style: none;
  padding: 2px 5px;
  font-weight: bold;
  position: relative;
}
nav#firstNav ul li p {
  position: relative;
  margin: 0;
  z-index: 5;
  background-color: #000;
}
nav#firstNav ul li .blackLineHover {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: #000;
  bottom: -3px;
  z-index: 20;
  display: none;
}
nav#firstNav ul li .greenLineHover {
  position: absolute;
  top: 0;
  left: -1px;
  border-bottom: 1px solid #3cd827;
  height: 35%;
  background-color: #000;
  z-index: 2;
  display: none;
}
nav#firstNav ul li .blackBG {
  background-color: #000;
  position: absolute;
  z-index: 4;
  left: 7.5%;
  top: 10%;
  width: 85%;
  height: 35%;
}
nav#firstNav ul li:hover {
  cursor: pointer;
}
nav#firstNav ul li.active {
  border-left: 1px solid #3cd827;
  border-right: 1px solid #3cd827;
}
nav#firstNav ul li.active .blackLineHover {
  display: block;
}
nav#firstNav ul li.active .greenLineHover {
  display: block;
}

#stat {
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
#stat .vaultBoy {
  margin: 5px;
  position: relative;
}
#stat .vaultBoy img {
  width: 150px;
}
#stat .center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#stat .column {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#stat .progressBar {
  position: relative;
  width: 40px;
  height: 10px;
  border: 1px solid #3cd827;
  border-radius: 0;
  background-color: #000;
}
#stat progress[value]::-webkit-progress-bar {
  background-color: #000;
}
#stat progress[value]::-webkit-progress-value {
  background-color: #3cd827;
}
#stat .generalStats {
  margin: 20px auto;
  height: 60px;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#stat .generalStats .statWeapon,
#stat .generalStats .statArmor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 5px;
}
#stat .generalStats .statBox {
  height: 60px;
  width: 40px;
  background-color: #023d02;
  background-image: url("../img/linearBackground.png");
  margin: 0 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  font-size: 25px;
  margin: 2px;
}
#stat .generalStats .statBox.large {
  width: 60px;
}
#stat .generalStats .statBox .statIcone {
  width: 65%;
  height: auto;
  margin-top: 2px;
}
#stat .statHeal {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#stat .statHeal .statStimpak,
#stat .statHeal .statRadaway {
  color: #033503;
  padding: 5px;
  margin: 5px;
  background-color: #24b124;
  background-image: url("../img/linearBackground.png");
  font-size: 20px;
}
#stat .statPlayer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#stat .statPlayer .playerHP,
#stat .statPlayer .playerLevel,
#stat .statPlayer .playerActionPoint {
  font-size: 20px;
  margin: 0 1px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #023d02;
  background-image: url("../img/linearBackground.png");
}
#stat .statPlayer .playerLevel {
  width: 50%;
  justify-content: center;
}
#stat .statPlayer .playerLevel label {
  margin-right: 5px;
}
#stat .statPlayer .playerActionPoint {
  width: 23%;
  justify-content: flex-end;
}
#stat .statPlayer .playerHP {
  width: 23%;
  justify-content: flex-start;
}
#stat .statPlayer progress {
  position: relative;
  width: 70%;
  height: 10px;
  border: 1px solid #3cd827;
  border-radius: 0;
  background-color: rgba(2, 61, 2, 0);
}
#stat .statPlayer progress[value]::-webkit-progress-bar {
  background-color: rgba(2, 61, 2, 0);
}
#stat .statPlayer progress[value]::-webkit-progress-value {
  background-color: #3cd827;
}

.secondNav {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.secondNav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.secondNav ul li {
  list-style: none;
  margin: 0 5px;
  opacity: 0.5;
}
.secondNav ul li.activeNav {
  opacity: 1;
}
.secondNav ul li:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
